<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Wedding</title>

<script th:src="@{/js/jquery-1.10.2.js}"></script>

<!-- custom js -->
<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/imageLightbox.js}"></script>

<!-- slides js -->
<script th:src="@{/js/Slides-SlidesJS-3/source/jquery.slides.js}"></script>

<!-- angular js -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<!--  google map -->
<script type="text/javascript"
	src="https://maps.google.com/maps/api/js?key=AIzaSyDMWJfdyOJTsPqgauX_sw6YKiqUBgbn2vA"></script>

<!-- sildes -->
<!-- <link rel="stylesheet"
	th:src="@{/js/Slides-SlidesJS-3/examples/playing/css/example.css}" />
<link rel="stylesheet"
	th:src="@{/js/Slides-SlidesJS-3/examples/playing/css/font-awesome.min.css}" /> -->

<!-- css -->
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway" />

<link rel="stylesheet" th:href="@{/css/w3-template.css}" />

<!-- font -->
<link rel="stylesheet" th:href="@{/font/font.css}" />

<style>

/* font list  */
/*font-family: 'Nanum Gothic Coding', serif;*/
/* font-family: 'Nanum Gothic', serif; */
/* font-family: 'Nanum Myeongjo', serif; */
/*font-family: 'Nanum Brush Script', serif;*/
/*font-family: 'Nanum Pen Script', serif;*/
/*font-family: 'Hanna', serif;*/
/* font-family: 'Jeju Hallasan', serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

/* used font */
h1.hanna {
	font-family: 'Hanna', serif;
}

a.hanna {
	font-family: 'Hanna', serif;
}

b.hanna {
	font-family: 'Hanna', serif;
}

button.hanna {
	font-family: 'Hanna', serif;
}

b.pen {
	font-family: 'Nanum Pen Script', serif;
}

i.pen {
	font-family: 'Nanum Pen Script', serif;
	font-size: 22px;
}

h1.pen {
	font-family: 'Nanum Pen Script', serif;
	font-size: 22px;
}
</style>
</head>
<body>

	<header class="w3-display-container w3-wide bgimg w3-grayscale-min"
		id="home">
		<div class="w3-display-middle w3-text-white w3-center">
			<h1 class="w3-xxxlarge hanna">
				변영준<span style="color: #F83F53;">♥</span>임희은
			</h1>
			<!-- <h2 class="hanna">Are getting married</h2> -->
			<h2>
				<b>2017.12.03</b>
			</h2>
		</div>
	</header>



	<!-- Navbar (sticky bottom) -->
	<div class="w3-bottom w3-hide-small">
		<div
			class="w3-bar w3-white w3-center w3-padding-8 w3-opacity-min w3-hover-opacity-off">
			<a href="#home" style="width: 25%" class="w3-bar-item w3-button"><b>Home</b></a>

			<a href="#us" style="width: 25%" class="w3-bar-item w3-button"><b>June
					&amp; Heeny</b></a> <a href="#wedding" style="width: 25%"
				class="w3-bar-item w3-button"><b>Wedding</b></a> <a href="#map"
				style="width: 25%" class="w3-bar-item w3-button w3-hover-black"><b>Map</b></a>
		</div>
	</div>

	<!-- About / Jane And John -->
	<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min"
		id="us">
		<div class="w3-content">
			<h1 class="w3-center w3-text-grey">
				<b class="pen"><span style="color: #F83F53;">[</span> 영준이와 희은이 <span
					style="color: #F83F53;">]</span> </b>
				<!-- <b class="">Youngjun Byeon <span style="color: #F83F53;">&amp;</span>
					Heeeun Lim
				</b> -->
			</h1>

			<p class="w3-center">
				<i class="pen">평생을 같이하고 싶은 사람을 만났습니다.<br />서로 아껴주고 이해하며<br />사랑
					베풀며 살고 싶습니다.<br />저희 약속 위에 따뜻한 격려로 축복해주셔서<br />힘 찬 출발의 디딤이 되어
					주십시오.
				</i>
			</p>

			<!-- img -->
			<!-- <img class="w3-round w3-grayscale-min"
				src="https://www.w3schools.com/w3images/wedding_couple2.jpg"
				style="width: 100%; margin: 32px 0" /> -->

			<!-- The container is used to define the width of the slideshow -->
			<div class="w3-round w3-grayscale-min" id="picture">
				<div id="slides">
					<img src="http://www.flickr.com/photos/listenmissy/5087404401/"
						th:src="@{/js/Slides-SlidesJS-3/examples/playing/img/example-slide-1.jpg}"
						style="width: 100%; margin: 32px 0" /> <img
						src="http://www.flickr.com/photos/parksdh/5227623068/"
						th:src="@{/js/Slides-SlidesJS-3/examples/playing/img/example-slide-2.jpg}"
						style="width: 100%; margin: 32px 0" /> <img
						src="http://www.flickr.com/photos/27874907@N04/4833059991/"
						th:src="@{/js/Slides-SlidesJS-3/examples/playing/img/example-slide-3.jpg}"
						style="width: 100%; margin: 32px 0" /><img
						src="http://www.flickr.com/photos/stuseeger/97577796/"
						th:src="@{/js/Slides-SlidesJS-3/examples/playing/img/example-slide-4.jpg}"
						style="width: 100%; margin: 32px 0" />
				</div>
			</div>


			<!-- <p class="w3-center">
				<i class="pen">평생을 같이하고 싶은 사람을 만났습니다.<br />서로 아껴주고 이해하며<br />사랑
					베풀며 살고 싶습니다.<br />저희 약속 위에 따뜻한 격려로 축복해주셔서<br />힘 찬 출발의 디딤이 되어
					주십시오.
				</i>
			</p> -->
			<br />
			<p class="w3-center">
				<a href="#GALLERY"
					class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding
					Album</a>
			</p>
		</div>
	</div>

	<!-- Background photo -->
	<!-- <div class="w3-display-container bgimg2">
		<div class="w3-display-middle w3-text-white w3-center">
			<h1 class="w3-jumbo">You Are Invited</h1>
			<br />
			<h2>Of course !!</h2>
		</div>
	</div> -->

	<!-- Background photo -->
	<div class="w3-display-container bgimg2">
		<div class="w3-display-middle w3-text-white w3-center">
			<h1 class="w3-jumbo hanna">
				당신을 초대<br />합니다
			</h1>
		</div>
	</div>


	<!-- Wedding information -->
	<div
		class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center"
		id="wedding">
		<div class="w3-content">
			<h1 class="w3-text-grey">
				<b>THE WEDDING</b>
			</h1>

			<!-- img -->
			<img class="w3-round-large w3-grayscale-min"
				src="https://www.w3schools.com/w3images/wedding_location.jpg"
				style="width: 100%; margin: 64px 0" />


			<div class="w3-row">
				<div class="w3-half">
					<h2>When</h2>
					<p>Wedding Ceremony - 2:00pm</p>
					<p>Reception &amp; Dinner - 5:00pm</p>
				</div>
				<div class="w3-half">
					<h2>Where</h2>
					<p>Some place, an address</p>
					<p>Some where, some address</p>
				</div>
			</div>
		</div>
	</div>

	<!-- RSVP section -->
	<div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide"
		id="rsvp">
		<h1 class="pen w3-xxxlarge">참석해주실거죠?</h1>

		<p class="w3-xlarge">
			<button
				onclick="document.getElementById('id01').style.display='block'"
				class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off"
				style="padding: 8px 60px">응답</button>
		</p>

		<br /> <br />
		<!-- <p class="gothic">여러분의  해주세요</p> -->
	</div>

	<!-- RSVP modal -->
	<div id="id01" class="w3-modal">
		<div class="w3-modal-content w3-card-4 w3-animate-zoom"
			style="padding: 32px; max-width: 600px">
			<div class="w3-container w3-white w3-center">
				<!-- <h1 class="w3-wide hanna">?</h1> -->
				<br />
				<p>함께 즐거운 시간 보내요.</p>
				<p>
					<i>June &amp; Heeny</i>
				</p>
				<br />

				<form>
					<input class="w3-input w3-border" type="text"
						placeholder="이름을 적어주세요" name="name" />
				</form>
				<br />
				<div class="w3-row">
					<div class="w3-half">
						<button
							onclick="document.getElementById('id01').style.display='none'"
							type="button" class="w3-button w3-block w3-green hanna">네.
							물론이죠 !</button>
					</div>
					<div class="w3-half">
						<button
							onclick="document.getElementById('id01').style.display='none'"
							type="button" class="w3-button w3-block w3-red hanna">아니요.
							안갑니다.</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- RSVP modal -->
	<!-- 	<div id="id01" class="w3-modal">
		<div class="w3-modal-content w3-card-4 w3-animate-zoom"
			style="padding: 32px; max-width: 600px">
			<div class="w3-container w3-white w3-center">
				<h1 class="w3-wide">오실거죠?</h1>
				<p>우리는 당신을 기다리고 있겠습니다.</p>
				<form>
					<input class="w3-input w3-border" type="text" placeholder="Name(s)"
						name="name" />
				</form>
				<p>
					<i>Sincerely, June &amp; Heeny</i>
				</p>
				<div class="w3-row">
					<div class="w3-half">
						<button
							onclick="document.getElementById('id01').style.display='none'"
							type="button" class="w3-button w3-block w3-green">Going</button>
					</div>
					<div class="w3-half">
						<button
							onclick="document.getElementById('id01').style.display='none'"
							type="button" class="w3-button w3-block w3-red">Can't
							come</button>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="w3-container w3-padding-64 w3-gray w3-center" id="map">
		<div class="w3-content">
			<h1 class="w3-text-black">
				<b>THE LOCATION</b>
			</h1>
			<!-- <br /> <br /> -->
			<!-- map -->
			<div id="google_map" class="w3-round-large w3-grayscale-min "
				style="width: 100%; height: 500px; margin: 64px 0;"></div>

			<!-- <h4 style="font-style: inherit;">서울 종로구 북촌로 1길 30-4(안국동 75-1)</h4> -->

		</div>
	</div>

	<div
		class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center"
		id="GALLERY">
		<div class="w3-content">
			<h1 class="w3-text-grey">
				<b>THE GALLERY</b>
			</h1>
		</div>
		<div id="container">
			<ul>
				<li><a
					th:href="@{/js/Slides-SlidesJS-3/examples/playing/img/example-slide-2.jpg}"
					data-imagelightbox="b"><img src="thumb/4.jpg"
						th:src="@{/js/Slides-SlidesJS-3/examples/playing/img/example-slide-2.jpg}"
						alt="Sun, grass and hydrant" /></a></li>
				<li><a
					th:href="@{/js/Slides-SlidesJS-3/examples/playing/img/example-slide-3.jpg}"
					data-imagelightbox="b"><img src="thumb/5.jpg"
						th:src="@{/js/Slides-SlidesJS-3/examples/playing/img/example-slide-3.jpg}"
						alt="Bridge over the railway" /></a></li>
				<li><a
					th:href="@{/js/Slides-SlidesJS-3/examples/playing/img/example-slide-4.jpg}"
					data-imagelightbox="b"><img src="thumb/6.jpg"
						th:src="@{/js/Slides-SlidesJS-3/examples/playing/img/example-slide-4.jpg}"
						alt="Railway light" /></a></li>
			</ul>
		</div>
	</div>

	<!-- Footer -->
	<footer class="w3-center w3-black w3-padding-16">
		<p>
			Powered by <a href="http://byeon0gam.tistory.com/"
				title="YoungGam.Byeon" target="_blank" class="w3-hover-text-green">YoungGam.Byeon</a>
		</p>
	</footer>
	<div class="w3-hide-small" style="margin-bottom: 32px"> </div>
</body>

<script type="text/javascript">
	var latitude = 37.502363;
	var longitude = 127.031588;

	google.maps.event.addDomListener(window, 'load', Map.prototype
			.initializeGoogleMap(latitude, longitude));

	// --------------

	$('#slides').slidesjs({
		/* 	width : 940,
			height : 528, */
		play : {
			active : true,
			auto : true,
			interval : 4000,
			swap : true
		}
	});

	// ------ imagelightbox ------
	$('a[data-imagelightbox="b"]').imageLightbox(
			{
				onStart : function() {
					// overlayOn();
					$('<div id="imagelightbox-overlay"></div>')
							.appendTo('body');
				},
				onEnd : function() {
					// overlayOff();
					$('#imagelightbox-overlay').remove();
					// activityIndicatorOff();
					$('#imagelightbox-loading').remove();
				},
				onLoadStart : function() {
					// activityIndicatorOn();
					$('<div id="imagelightbox-loading"><div></div></div>')
							.appendTo('body');
				},
				onLoadEnd : function() {
					// activityIndicatorOff();
					$('#imagelightbox-loading').remove();
				}
			});
</script>
</html>