<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- 크롤링 -->
<!-- <meta name="robots" content="noindex,nofollow" /> -->

<meta property="og:title" content="2017.12.03 변영준 ♥ 임희은" />
<meta property="og:image" th:content="@{/img/j3.jpg}"
	content="https://www.w3schools.com/w3images/wedding_couple.jpg" />
<meta property="og:description"
	content="평생을 같이하고 싶은 사람을 만났습니다. 서로 아껴주고 이해하며 사랑
					베풀며 살고 싶습니다. 저희 약속 위에 따뜻한 격려로 축복해주셔서 힘 찬 출발의 디딤이 되어
					주십시오." />


<title>Wedding</title>

<script th:src="@{/js/jquery-1.10.2.js}"></script>

<!-- custom js -->
<script th:src="@{/js/imageLightbox.js}"></script>
<script th:src="@{/js/scrolla.jquery.js}"></script>

<script th:src="@{/js/customMap.js}"></script>
<script th:src="@{/js/handler.js}"></script>
<script th:src="@{/js/rsvp.js}"></script>

<!--  google map -->
<script th:inline="javascript"
	src="https://maps.google.com/maps/api/js?key=AIzaSyB1hGom7-8OMDFXEe1NKOF-KYnLa3Fa5rU"></script>

<!-- css -->
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway" />

<link rel="stylesheet" th:href="@{/css/w3-template.css}" />
<link rel="stylesheet" th:href="@{/css/animate.css}" />

<!-- font -->
<link rel="stylesheet" th:href="@{/font/font.css}" />

<!-- favicon -->
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

<style>

/* used font */
h1.hanna {
	font-family: 'Hanna', serif;
}

a.hanna {
	font-family: 'Hanna', serif;
}

b.hanna {
	font-family: 'Hanna', serif;
}

button.hanna {
	font-family: 'Hanna', serif;
}

b.pen {
	font-family: 'Nanum Pen Script', serif;
}

i.pen {
	font-family: 'Nanum Pen Script', serif;
	font-size: 22px;
}

h1.pen {
	font-family: 'Nanum Pen Script', serif;
	font-size: 22px;
}

h2.pen {
	font-family: 'Nanum Pen Script', serif;
	font-size: 22px;
}

p.pen {
	font-family: 'Nanum Pen Script', serif;
	font-size: 22px;
}

p.gothic {
	font-family: 'Nanum Gothic', serif;
}
</style>
</head>
<body>

	<header class="w3-display-container w3-wide bgimg w3-grayscale-min"
		id="home">
		<div class="w3-display-bottommiddle w3-text-white w3-center">
			<h1 class="w3-xxxlarge hanna">
				변영준<span style="color: #F83F53;">♥</span>임희은
			</h1>
			<h2>
				<b>2017.12.03</b>
			</h2>
		</div>
	</header>



	<!-- Navbar (sticky bottom) -->
	<div class="w3-bottom w3-hide-small">
		<div
			class="w3-bar w3-white w3-center w3-padding-8 w3-opacity-min w3-hover-opacity-off">
			<a href="#home" style="width: 25%" class="w3-bar-item w3-button"><b>Home</b></a>

			<a href="#us" style="width: 25%" class="w3-bar-item w3-button"><b>June
					&amp; Heeny</b></a> <a href="#wedding" style="width: 25%"
				class="w3-bar-item w3-button"><b>Wedding</b></a> <a href="#map"
				style="width: 25%" class="w3-bar-item w3-button w3-hover-black"><b>Map</b></a>
		</div>
	</div>

	<!-- About / Jane And John -->
	<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min"
		id="us">
		<div class="w3-content">
			<p class="w3-center">
				<i class="pen"> 평생을 같이하고 싶은 사람을 만났습니다.<br />서로 아껴주고 이해하며 사랑 베풀며
					살고 싶습니다.<br />저희 약속 위에 따뜻한 격려로 축복해주셔서<br />힘 찬 출발의 디딤이 되어 주십시오.
				</i>
			</p>
			<br /> <br />
			<p class="w3-center scrolla" data-animate="rubberBand">
				<a href="#GALLERY"
					class="w3-button w3-black w3-round w3-padding-large w3-large">사진
					더 보기</a>
			</p>
		</div>
	</div>

	<!-- Background photo -->
	<div class="w3-display-container bgimg2">
		<div class="w3-display-middle w3-text-white w3-center">
			<h1 class="w3-jumbo hanna">
				당신을 초대<br />합니다
			</h1>
		</div>
	</div>
	<!-- RSVP section -->
	<div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide"
		id="rsvp">
		<h1 class="pen w3-xxxlarge">참석해주실래요?</h1>

		<br />
		<p class="gothic">
			작은 결혼식이기 때문에<br />여러분의 참석여부 확인이 필요합니다.
		</p>
		<p class="w3-xlarge scrolla" data-animate="rubberBand">
			<button
				onclick="document.getElementById('id01').style.display='block'"
				class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off"
				style="padding: 8px 60px">응답</button>
		</p>

	</div>

	<!-- RSVP modal -->
	<div id="id01" class="w3-modal">
		<div class="w3-modal-content w3-card-4 w3-animate-zoom"
			style="padding: 32px; max-width: 600px">
			<div class="w3-container w3-white w3-center">
				<!-- <h1 class="w3-wide hanna">?</h1> -->
				<div id="msg_div" class="w3-panel w3-pale-red w3-round-large"
					style="display: none;">
					<p id="msg" class="pen"></p>
				</div>

				<br />
				<p>함께 즐거운 시간 보내요.</p>
				<p>
					<i>June &amp; Heeny</i>
				</p>

				<input class="w3-input w3-border" type="text"
					placeholder="당신의 이름을 작성해주세요" id="name" /> <br />


				<div class="w3-row">
					<div class="w3-half">
						<button id="yes" type="button"
							class="w3-button w3-block w3-green hanna">네. 물론이죠!</button>
					</div>
					<div class="w3-half">
						<button id="no" type="button"
							class="w3-button w3-block w3-red hanna">아니요. 안갑니다.</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Wedding information -->
	<div
		class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center"
		id="wedding">
		<div class="w3-content">
			<h1 class="w3-text-black hanna">장소</h1>

			<!-- src="https://www.w3schools.com/w3images/wedding_location.jpg" -->
			<!-- img -->
			<img class="w3-round-large w3-grayscale-min"
				th:src="@{/img/amor3.JPG}" style="width: 100%; margin: 20px 0" />


			<div class="w3-row">
				<div class="w3-half">
					<h2 class="hanna">When</h2>
					<p>Wedding Ceremony - 1:00pm</p>
				</div>
				<div class="w3-half">
					<h2 class="hanna">Where</h2>
					<p>서울특별시 강남구 역삼1동 633-31 아모르하우스</p>
				</div>
			</div>
		</div>
	</div>



	<div
		class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center"
		id="map">
		<div class="w3-content">
			<h1 class="w3-text-black hanna">위치</h1>
			<!-- map -->
			<div id="google_map" class="w3-round-large w3-grayscale-min "
				style="width: 100%; height: 500px; margin: 20px 0;"></div>
		</div>
	</div>

	<div class="w3-container w3-padding-64 w3-pale-red w3-center"
		id="GALLERY">
		<div class="w3-content">
			<h1 class="w3-text-black hanna">사진</h1>

			<div id="container">

				<ul class="w3-center scrolla" data-animate="fadeIn">
					<li><a th:href="@{/img/a1.jpg}" data-imagelightbox="b"><img
							th:src="@{/img/j3.jpg}" style="width: 100%; height: 100%" /></a></li>
					<li><a th:href="@{/img/a2.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/b1.jpg}" data-imagelightbox="b"></a></li>

					<li><a th:href="@{/img/c1.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/c2.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/c3.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/c4.jpg}" data-imagelightbox="b"></a></li>

					<li><a th:href="@{/img/d1.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/d2.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/d3.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/d4.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/d5.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/d6.jpg}" data-imagelightbox="b"></a></li>

					<li><a th:href="@{/img/e1.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/e2.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/e3.jpg}" data-imagelightbox="b"></a></li>

					<li><a th:href="@{/img/f1.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/f2.jpg}" data-imagelightbox="b"></a></li>

					<li><a th:href="@{/img/g1.jpg}" data-imagelightbox="b"></a></li>

					<li><a th:href="@{/img/h1.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/h2.jpg}" data-imagelightbox="b"></a></li>

					<li><a th:href="@{/img/i1.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/i2.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/i3.jpg}" data-imagelightbox="b"></a></li>

					<li><a th:href="@{/img/j1.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/j2.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/j3.jpg}" data-imagelightbox="b"></a></li>

					<li><a th:href="@{/img/k1.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/k2.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/k3.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/k4.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/k5.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/k6.jpg}" data-imagelightbox="b"></a></li>

					<li><a th:href="@{/img/l1.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/l2.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/l3.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/l4.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/l5.jpg}" data-imagelightbox="b"></a></li>
					<li><a th:href="@{/img/l6.jpg}" data-imagelightbox="b"></a></li>

				</ul>

			</div>
			<p class="w3-xlarge">
				<a th:href="@{/img/a1.jpg}" data-imagelightbox="b"><button
						class="w3-button w3-round w3-red w3-opacity"
						style="padding: 8px 60px">사진 클릭</button></a>
			</p>
		</div>
	</div>

	<!-- Footer -->
	<footer class="w3-center w3-black w3-padding-16">
		<p>
			Powered by <a href="http://byeon0gam.tistory.com/" title="byeon0gam"
				target="_blank" class="w3-hover-text-green">byeon0gam</a>
		</p>
	</footer>
	<div class="w3-hide-small" style="margin-bottom: 32px"> </div>
</body>

<script type="text/javascript">
	var latitude = 37.501695;
	var longitude = 127.031535;

	google.maps.event.addDomListener(window, 'load', CustomMap.prototype
			.initializeGoogleMap(latitude, longitude));

	// ------ imagelightbox ------
	$('a[data-imagelightbox="b"]').imageLightbox(
			{
				onStart : function() {
					// overlayOn();
					$('<div id="imagelightbox-overlay"></div>')
							.appendTo('body');
				},
				onEnd : function() {
					$('#imagelightbox-overlay').remove();
					$('#imagelightbox-loading').remove();
				},
				onLoadStart : function() {
					$('<div id="imagelightbox-loading"><div></div></div>')
							.appendTo('body');
				},
				onLoadEnd : function() {
					$('#imagelightbox-loading').remove();
				}
			});
	// --------- scrolla --------
	$('.scrolla').scrolla();
</script>
</html>