<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>test</title>

<!-- jquery -->
<script th:src="@{/js/common/jquery-1.10.2.js}"></script>

<!-- custom js -->
<script th:src="@{/js/handler.js}"></script>
<script th:src="@{/js/ajax.js}"></script>

</head>
<body>
	<input type="button" id="call_button" value="call" />
	<img id="spinner" th:src="@{/images/477.gif}" style="display: none;" />
	<input type="button" id="trigger_button" value="push" />
	<br />

	<hr />

	<label>groupKey :</label>
	<input type="text" id="groupKey" />

	<input type="button" id="call_group_button" value="callGroup" />
	<img id="groupSpinner" th:src="@{/images/478.gif}"
		style="display: none;" />
	<input type="button" id="push_group_button" value="pushGroup" />
	<br />

	<hr />

	<br />
	<br />
	<textarea id="msg" rows="10" cols="60"></textarea>





</body>
</html>